
        print value from 1 to n

In [5]:
def upto_n(n):
    if n==0:
        return
    upto_n(n-1)
    print(n)

In [6]:
upto_n(5)

1
2
3
4
5


print value from n to 1

In [20]:
def upto_n(n):
    if n==1:
        return print('1')
    print(n)
    upto_n(n-1)

In [21]:
upto_n(5)

5
4
3
2
1


    fibonacci

In [13]:
def fibo(n):
    if n==1 or n==2:
        return 1
    x=fibo(n-1)
    y=fibo(n-2)
    return x+y

In [14]:
fibo(4)

3


    CHECK IF LIST IS SORTED BY JUST INDEX

In [15]:
def sor(n,s):
    if s==len(n)-1:
        return print('list is sorted')
    if n[s]>n[s+1]:
        return print('nt sorted list')
    sor(n,s+1)

In [17]:
n=[1,2,3,4,5,6,11,7,8]
sor(n,0)

nt sorted list


    CHECK IF SORTED BY CREATING NEW LIST

In [26]:
def issorted(n):
    if len(n)==1:
        return True
    if n[0]>n[1]:
        return False
    a=n[1:]
    x=issorted(a)
    return x

In [28]:
n=[1,2,3,4,5,6,7,11,19]
issorted(n)

True


    SUM OF ARRAY

In [51]:
def sum_array(n,s):
    if s==len(n):
        return 0
    x=n[s]+sum_array(n,s+1)
    return x

In [52]:
n=[1,2,3,4,5]
sum_array(n,0)

15


    CHECK IF NUMBER EXIT IN LIST using index

In [73]:
def check(n,x,s):
    if s==len(n):
        return False
    if n[s]==x:
        return True
    m=check(n,x,s+1)
    return m

In [65]:
n=[1,2,3,4,5,6,7,453,87,9,87,64,22]
check(n,11,0)

False


    CHECK IF NUMBER EXIST USING NEW LIST

In [74]:
def check1(n,x):
    if len(n)==0:
        return False
    if n[0]==x:
        return True
    m=check1(n[1:],x)
    return m

In [75]:
n=[1,2,3,4,5,6,7,453,87,9,87,64,22]
check(n,22,0)
check1(n,11)

False


    first index of a number using index

In [78]:
def index(n,x,s):
    if s==len(n):
        return -1
    if n[s]==x:
        return s
    m=index(n,x,s+1)
    return m

In [81]:
n=[1,2,3,4,5,6,7,8,7,6,5,4,11,15]
print(len(n))
index(n,15,0)

14

13


    finding first index of a number using new list

In [82]:
def index1(n,x):
    if len(n)==0:
        return -1
    if n[0]==x:
        return 0
    smallerList=n[1:]
    smallerlistoutput=index1(smallerList,x)
    if smallerlistoutput==-1:
        return -1
    else:
        return 1+smallerlistoutput

In [84]:
n=[1,2,3,4,5,6,7,8,7,6,5,4,11,15]
print(len(n))
index1(n,15)

14

13


    finding last index of a number

In [85]:
def last_index(n,x,s):
    if s==-1:
        return -1
    if n[s]==x:
        return s
    m=last_index(n,x,s-1)
    return m

In [87]:
n=[1,2,3,4,5,6,7,8,7,6,5,4,11,15]
print(len(n))
last_index(n,7,len(n)-1)

14

8


Quick sort

In [31]:
def quick(n,s,en):
    if s>=en:
        return 
    c=s
    for i in range(s+1,en):
        if n[s]>n[i]:
            c+=1
    
    n[s],n[c]=n[c],n[s]
    
    for i in range(s,c):
        for j in range(c+1,en):
            if n[i]>n[j]:
                n[i],n[j]=n[j],n[i]
    
    output=quick(n,s,c)
    output1=quick(n,c+1,en)
    return n
    
    
    
n=[9,1,5,6,3,7,8,10,19,15,17]
print(quick(n,0,11))

[1, 3, 5, 6, 7, 8, 9, 10, 15, 17, 19]


    REPLACE ONE ALPHABET WITH ANOTHER IN STRING

In [15]:
def repl(n,a,b):
    if len(n)==0:
        return ''
    if n[0]==a:
        return b+repl(n[1:],a,b)
    else:
        return n[0]+repl(n[1:],a,b)

In [16]:
n='abcabcabcabc'
repl(n,'a','s')

'sbcsbcsbcsbc'


    binary search

In [28]:
def binary(n,y,si,en):
    if si>en:
        return -1
    x=(si+en)//2
    if n[x]==y:
        return x
    elif n[x]<y:
        return binary(n,y,x+1,en)
    else:
        return binary(n,y,si,x-1)

In [29]:
n=[1,2,3,4,5,8,11]
binary(n,5,0,6)

4


TOWER OF HANOI

In [6]:
def hanoi(n,a,b,c):
    if n==1:
        return print(a,c)
    hanoi(n-1,a,c,b)
    print(a,c)
    hanoi(n-1,b,a,c)

In [10]:
hanoi(3,'a','b','c')

a c
a b
c b
a c
b a
b c
a c


Geometric Sum

In [6]:
def geosum(k):
    if k==0:
        return 2**0
    just_before=geosum(k-1)
    output=1/2**k+just_before
    return output

In [8]:
print(geosum(4))

1.9375